body {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
}

button {
    padding: 15px 40px;
    border-radius: 15px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    font-size: 2rem;
    border-style: none;
}

p {
    font-size: 3rem;
    letter-spacing: 1px;
    color: #a1b905;
}

#container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 75% 25%;
}

#top_side {
    grid-row: 1;
    background-color: #2c2e1e;
    display: grid;
    justify-items: center;
    align-items: center;
    /* justify-content: center; */
    grid-template-columns: repeat(100px, 3);
    grid-template-rows: repeat(50%, 2); 
}

#clock {
    grid-row: 1;
    color: rgb(1, 135, 88);
    font-size: 1rem;
    justify-self: start;
    align-self: start;
    letter-spacing: 2px;
    padding: 6px;
}

#buttons {
    grid-row: 2;
} 

#bot_side {
    grid-row: 2;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #181818;
}

#start {
    grid-column: 1;
    background-color: rgb(19, 220, 19);
}

#start:hover {
    background-color: green;
}
#stop {
    grid-column: 2;
    background-color: red;
}
#stop:hover {
    background-color: rgb(181, 16, 16);
}
#reset {
    grid-column: 3;
    background-color: whitesmoke;
    
}
#clear:hover {
    background-color: rgb(162, 159, 156);
}

#display {
    color: turquoise;
    font-size: 4rem;
    width: 20vw;
    /* background-color: blue; */
    display: grid;
    justify-content: center;
}